@model InventoryApplication.Models.InventoryTransfer

@{
    ViewData["Title"] = "Деталі";
}

<h1 class="h4">Деталі про переміщення обладнання</h1>

<hr />
<div>
    <dl class="row">
        <dt class="col-sm-3 text-truncate">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-3 text-truncate">
            @Html.DisplayNameFor(model => model.Operation)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Operation.Name)
        </dd>
        <dt class="col-sm-3 text-truncate">
            @Html.DisplayNameFor(model => model.Inventories)
        </dt>
        <dd class="col-sm-9">
            <ul class="list-unstyled mb-0">
                @foreach (var i in Model.Inventories)
                {
                    <li>
                        @Html.DisplayFor(model => i.Inventory.FullName)
                    </li>
                }
            </ul>
        </dd>
        <dt class="col-sm-3 text-truncate">
            @Html.DisplayNameFor(model => model.Signatory)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Signatory.FullName)
        </dd>
        <dt class="col-sm-3 text-truncate">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
        <dt class="col-sm-3 text-truncate">
            @Html.DisplayNameFor(model => model.DepartmentResponsibleEmployee)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DepartmentResponsibleEmployee.FullName)
        </dd>
    </dl>
</div>
<div class="row">
    <nav class="nav">
        <a class="nav-link" asp-action="Index">Повернутися до списку</a>
    </nav>
</div>