@model InventoryApplication.Models.InventoryReceipt

@{
    ViewData["Title"] = "Деталі";
}

<h1 class="h4">Деталі про надходження обладнання</h1>

<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div class="row">
    <nav class="nav">
        <a class="nav-link" asp-action="Index">Повернутися до списку</a>
    </nav>
</div>
